*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	color: #222;
/*	color: #D39215;*/
}

.cardProd{
	min-height: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding-bottom: 2rem;
}

.color-nav{
	background-color: black;
	padding: 1rem;
	position: sticky;

}  

.navlogo{
	/*padding-left: 2rem;*/

}

.color-button{
	/*background-color: #D39215 !important;*/
	border: none;
	outline: 0;
	padding: 12px;
	background-color: #000;
	text-align: center;
}

/*.cardHighlight{
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding-bottom: 2rem;

}*/



.center-navbar{
	/*width:30%;*/
	/*margin-left: 30%;*/
	font-size: 1.2rem;
	color: #D39215;
}


.carousel{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: 0 50%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top:0rem;
	padding-bottom: 0rem;
	margin-left: 0;
	margin-right: 0;
}

.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}



.carousel-caption{
	top: 50%;
	transform: translateY(-60%);
}

.carousel-caption h3{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 20px #000;
	position: relative;
}

.carousel-caption p{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
}

.jumbotron{
		background-image: url(https://coolwallpapers.me/picsup/6058905-auto-photo-impreza-subaru-impreza-sti-cars-black-and-white-auto-wallpapers-black-background-cars-subaru-auto-wallpaper-wrx.jpg);
		position: sticky;
		color: white;
		font-size: 1.5rem;
		font-weight: 500;
		text-shadow: 2px 2px 20px #000;
		background-size: cover;
		background-position: 0 50%;

}

.hJumbo{
	font-size: 3rem;
	color: white;
	font-weight: 650;
	text-shadow: 1px 1px 10px #000;
}
